---
- name: load source vars
  with_first_found:
    - '../vars/architecture/{{ ansible_architecture | lower }}.yml'
    - ../vars/architecture/default.yml
  include_vars: '{{ item }}'

- name: load version vars
  with_first_found:
    - '../vars/versions/{{ golang_version }}-{{ golang_architecture }}.yml'
    - '../vars/versions/{{ golang_version }}.yml'
    - ../vars/versions/default.yml
  include_vars: '{{ item }}'

- name: assert version vars
  assert:
    that:
      - "golang_redis_sha256sum not in (None, '')"

- name: create download directory
  file:
    state: directory
    mode: 'u=rwx,go=rx'
    dest: '{{ golang_download_dir }}'

- name: download Go language SDK
  get_url:
    url: '{{ golang_mirror }}/{{ golang_redis_filename }}'
    dest: '{{ golang_download_dir }}/{{ golang_redis_filename }}'
    sha256sum: '{{ golang_redis_sha256sum }}'
    force: no
    use_proxy: yes
    validate_certs: yes
    mode: 'u=rw,go=r'

- name: create Go language SDK installation directory
  become: yes
  file:
    state: directory
    owner: root
    group: root
    mode: 'u=rwx,go=rx'
    dest: '{{ golang_install_dir }}'

- name: install unarchive dependencies (zypper)
  become: yes
  zypper:
    name:
      - gzip
      - tar
    state: present
  when: ansible_pkg_mgr == 'zypper'

- name: install Go language SDK
  become: yes
  unarchive:
    src: '{{ golang_download_dir }}/{{ golang_redis_filename }}'
    remote_src: yes
    extra_opts: '--strip-components=1'
    dest: '{{ golang_install_dir }}'
    owner: root
    group: root
    creates: '{{ golang_install_dir }}/bin'

# Set Go language SDK environment variables
- name: make sure /etc/profile.d exists
  become: yes
  file:
    path: /etc/profile.d
    state: directory
    owner: root
    group: root
    mode: 'u=rwx,go=rx'

- name: export Go language SDK environment variables
  become: yes
  template:
    src: golang.sh.j2
    dest: /etc/profile.d/golang.sh
    owner: root
    group: root
    mode: 'u=rw,go=r'

# Set Go language SDK facts
- name: create Ansible facts.d directory
  become: yes
  file:
    state: directory
    dest: /etc/ansible/facts.d
    owner: root
    group: root
    mode: 'u=rwx,go=rx'

- name: install Go language SDK facts
  become: yes
  template:
    src: facts.j2
    dest: /etc/ansible/facts.d/golang.fact
    owner: root
    group: root
    mode: 'u=rw,go=r'

- name: re-read facts
  setup:
    filter: ansible_local
